footer.footer
        .container-fluid.clearfix
          span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block Copyright &copy; Vitazen 2024
          span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
            | Developed by
            a(href='https://nia.co.id/' target='_blank')  PT NIA &nbsp;
            | All rights reserved.