extends ../layout

block content
    .row
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-purple.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src='public/assets/images/dashboard/circle.svg' alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Total Products
                        i.mdi.mdi-package-variant-closed.mdi-48px.float-right
                    h2.mb-5  10
                    h6.card-text Products with Discounts 7
                    h6.card-text Products without Discounts 3
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-purple.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src='public/assets/images/dashboard/circle.svg' alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Active Promotions 
                        i.mdi.mdi-wallet-giftcard.mdi-48px.float-right
                    h2.mb-5 6
                    h6.card-text Hero Slider  3
                    h6.card-text Banner Promo  3
        .col-md-4.stretch-card.grid-margin
            .card.bg-gradient-purple.card-img-holder.text-white
                .card-body
                    img.card-img-absolute(src='public/assets/images/dashboard/circle.svg' alt='circle-image')
                    h4.font-weight-normal.mb-3
                        | Reviews & Advertisements
                        i.mdi.mdi-diamond.mdi-48px.float-right
                    h2.mb-5 60
                    h6.card-text Videos 20
                    h6.card-text Shopee 30
                    h6.card-text Websites 10
